In [6]:
import pandas

dataset = pandas.read_csv('https://raw.githubusercontent.com/bamartin1618/1WeekDataset/main/train.csv')

dataset = dataset[['Pclass', 'Sex', 'Age', 'Fare', 'Parch', 'Survived']]

dataset = dataset.dropna(axis = 0)

dataset['Sex'] = dataset['Sex'].replace({'male' : 0, 'female' : 1})

dataset

     Pclass  Sex   Age     Fare  Parch  Survived
0         3    0  22.0   7.2500      0         0
1         1    1  38.0  71.2833      0         1
2         3    1  26.0   7.9250      0         1
3         1    1  35.0  53.1000      0         1
4         3    0  35.0   8.0500      0         0
..      ...  ...   ...      ...    ...       ...
885       3    1  39.0  29.1250      5         0
886       2    0  27.0  13.0000      0         0
887       1    1  19.0  30.0000      0         1
889       1    0  26.0  30.0000      0         1
890       3    0  32.0   7.7500      0         0

[714 rows x 6 columns]

In [7]:
x = dataset[['Pclass', 'Sex', 'Age', 'Fare', 'Parch']]
y = dataset['Survived']

y

0      0
1      1
2      1
3      1
4      0
      ..
885    0
886    0
887    1
889    1
890    0
Name: Survived, Length: 714, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [10]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

model = SVC()
model.fit(x_train, y_train)

predictions = model.predict(x_test)

print(accuracy_score(y_test, predictions))

0.6465116279069767